.main {
    min-height: 100vh;
    background: var(--background);
    padding: 96px;
}

.heroSection {
    position: relative;
    aspect-ratio: 21/9;
    max-height: 600px;
    width: 100%;
    overflow: hidden;
}

.heroImage {
    object-fit: cover;
    object-position: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);;
}

.heroTextContainer {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroTitle {
    font-family: var(--font-serif);
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.016px;
    color: white;
}

@media (min-width: 768px) {
    .heroTitle {
        font-size: 60px;
    }
}

.tabsSection {
    padding-top: 64px;
    padding-bottom: 96px;
}

.tabsHeader {
    margin-bottom: 48px;
}

.tabsList {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100;
    max-width: 332px;
    justify-content: center;
    gap: 16px;
    border-bottom: 1px solid var(--border);
    background:transparent;
    padding: 0;
}

.tabsTrigger {
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
    padding-top: 4px;
}

.tabsTrigger[data-state="active"] {
    border-color: var(--primary);
    background: transparent;
    box-shadow: none;
}

.collectionIntro {
    margin-bottom: 40px;
    max-width: 768px;
}

.collectionTitle {
    margin-bottom: 16px;
    font-family: var(--font-serif);
    font-size: 30px;
    font-weight: 300;
}

.gripWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

@media (min-width: 768px) {
    .gripWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .gridWrapper {
        grid-template-columns: repear(3, 1fr);
    }
}

.gridColumn {
    display: grid;
    gap: 16px;
}

.imageCard {
    position: relative;
    aspect-ratio: 3/4;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
}

.gripImage {
    object-fit: cover;
    object-position: center;
}

.emptyCollection {
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: center;
}

.btsSection {
    background: var(--muted);
    padding-top: 64px;
    padding-bottom: 96px;
}

.btsTitle {
    margin-bottom: 48px;
    text-align: center;
    font-family: var(--font-serif);
    font-size: 30px;
    font-weight: 300;
}

@media (min-width: 768px) {
    .btsTitle {
        font-size: 36px;
    }
}

.btsGrid {
    display: grid;
    gap: 32px;
}

@media (min-width: 768px) {
    .btsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.btsImageWrapper {
    position: replative;
    aspect-ratio: 16/9;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
}

.btsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btsSubheading {
    margin-bottom: 16px;
    font-family: var(--font-serif);
    font-size: 24px;
    font-weight: 300;
}