.hero {
    position: relative;
    aspect-ratio: 21/9;
    max-height: 600px;
    width: 100%;
    overflow: hidden;
}

.heroOverlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.heroContent {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroTitle {
    font-family: var(--font-serif);
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.025em;
    color: white;
}

.section {
    padding: 64px 0;
}

.sectionMuted {
    background-color: hsl(var(--muted));
    padding: 64px;
}

.storyHeader {
    margin: 0 auto 40px;
    max-width: 768px;
    text-align: center;
}

.storyTitle {
    margin-bottom: 24px;
    font-family: var(--font-serif);
    font-size: 30px;
    font-weight: 300;
}

.storySubtitle {
    margin-bottom: 40px;
    font-size: 18px;
    color: hsl(var(--muted-foreground));
}

.contentGrid {
    margin-top: 64px;
    display: grid;
    gap: 48px;
    grid-template-columns: 1fr;
}

.contentImage {
    position: relative;
    aspect-ratio: 1;
    width: 100;
    overflow: hidden;
    border-radius: 6px;
}

.contentText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 11px 18px 12px
}

.contentTitle {
    margin-bottom: 16px;
    font-family: var(--font-serif);
    font-size: 24px;
    font-weight: 300;
}

.contentParagraph {
    margin-bottom: 16px;
    color: hsl(var(--muted-foreground));
}

.teamSection {
    text-align: center;
}

.teamTitle {
    margin-bottom: 48px;
    font-family: var(--font-serif);
    font-size: 30px;
    font-weight: 300;
}

.teamGrid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr;
}

.textMember {
    text-align: center;
}

.memberImage {
    position: relative;
    margin: 0 auto 16px;
    aspect-ratio: 1;
    width: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.memberName {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
}

.memberRole {
    color : hsl(var(--muted-foreground))
}

@media (min-width: 768px) {
    .heroTitle {
        font-size: 60px; 
    }

    .section {
        padding: 96px 0;
    }

    .sectionMuted {
        padding: 96px 0;
    }

    .storyTitle {
        font-size: 36px;
    }

    .contentGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 64px;
    }

    .teamTitle {
        font-size: 36px;
    }

    .teamGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .memberImage {
        width: 132px;
    }
}

@media (min-width: 1024px){
    .contentGrid {
        gap: 96px; 
    }

    .teamGrid  {
        grid-template-columns: repeat(3, 1fr);
    }
}